[Desktop Entry]
Encoding=UTF-8
Name=Link para Web Filter Violation
Type=Link
URL=http://edirlei.3dgb.com.br/aulas/ia/IA_Aula_17_Logica_Fuzzy.pptx
Icon=text-html
